*{
    padding:0;
    margin: 0;
}

h1{
    padding:25px;
    text-align: center;
    cursor: pointer;
}

.container{
    display:flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 50px;
    flex-grow: 1;
    flex-basis: 25%;
}


.cards{
    padding:10px;
    box-shadow: 5px 3px 5px rgb(158, 158, 158);
    transition: 0.1s;
}

.HeaderTab{
    margin: 50px;
    margin-left: 30%;
}

.Card-link{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color:black;
    padding-bottom: 20px;
    transition: 0.3s;
    margin-top: -10px;
    cursor: pointer;
}

.Card-link:hover{
    border-bottom: 3px solid #A367B1;
    color:#A367B1;
}

.cards:hover{
 transform: scale(1.1);
 border: 1px solid #A367B1;
}
